body
   magin: 0
   pading: 0
   height: 90vh

.layout
   display: flex
   flex-direction: column
   height: 95vh
   max-width: 80%
   margin: 0 auto

.header
   display: flex
   justify-content: space-between
   height: 5rem
   background-image: url(https://source.unsplash.com/random)
   border-radius: 5px
   color: white
   font-size: 1.3rem
   font-weight: 600
   line-height: 5rem
   padding: 0 2rem

.charts
   margin: 0.5rem 0
   height: calc(100vh - 7rem)
   
.messenger
   display: flex
   height: calc(100vh - 11rem)
   flex-direction: column
   justify-content: space-between
   // background-color: blue
   

.messeges
   padding: 1.5rem
   margin: 0.5rem 0
   height: calc(100vh - 15rem)
   overflow-y: scroll
   
.sender
   display: flex
   
   position: fixed
   bottom: 0
   padding: 0.5rem
   margin: 0.5rem 0 

