body
   magin: 0
   pading: 0
   height: 90vh

.layout
   display: flex
   flex-direction: column
   height: 95vh
   max-width: 80%
   min-width:700px
   margin: 0 auto

.header
   display: flex
   justify-content: space-between
   align-items: center
   height: 5rem
   padding: 0 1.3rem
   margin-bottom: 5px
   &-app-name
      color: #757575
      font-size: 1.3rem
      font-weight: 600

.messages
   display: flex
   flex-direction: column
   margin: 8px 0
   height: calc(100vh - 12.4rem)
   overflow: auto
   
.sender
   display: flex
   width: 100%
   align-items: center
   margin-top: 14px
   padding-top: 10px
   padding-bottom:7px