.msg
   margin: 1rem

   &-left
         align-self: flex-start

   &-right
         align-self: flex-end

   &-avatar-leter
      font-weight: 700

   &-content
      display: flex
      justify-content: start
      align-items: center
      width: 30vw
      padding: 0.4rem 0.4rem