
.chats
   display: flex
   align-content: space-between
   height: 80%
   &-list
      overflow: auto
      overflow-wrap: none
      height: 66vh

.listItem
   display: flex
   justify-content: space-between


.link
   text-decoration: none
   color: #757575
   flex-grow: 1
