.chats-wrapper
   position: relative
   margin: 8px 0
   height: 98.6%

.chats-list
   overflow: auto
   overflow-wrap: n
   padding: 0 8px
   max-block-size: 73%

.add-btn
   position: absolute
   bottom: 15px
   left: 15px
  
   